/**
 * My CSS Variables
 *
 * A plea for sane default variables with clearly defined contexts.
 * Use these variable names consistently across your projects to avoid guesswork.
 * Add or remove variables, and change the values as needed.
 *
 * Copy & paste this file into your project as a template and customize it.
 * Or, import all these values as defaults and override them in your theme.
 */

/* Colors */
:root {
	/* Named Colors */
	--color-black: #000;
	--color-white: #FFF;
	--color-green: #0C3;

	/* Color Contexts */
	--cc-primary: var(--color-green);
	--cc-link: var(--cc-primary);
}

/* Typography */
:root {
	/* Font Families */
	--ff-serif: Georgia, serif;
	--ff-sans-serif: Helvetica, sans-serif;

	/* Font Sizes */
	--fs-xsmall: 0.75rem; // 12px
	--fs-small: 0.875rem; // 14px
	--fs-base: 1rem; // 16px
	--fs-medium: 1.25rem; // 20px
	--fs-large: 1.5rem; // 24px
	--fs-xlarge: 1.75rem; // 28px
	--fs-xxlarge: 1.875rem; // 30px
	--fs-xxxlarge: 2rem; // 32px

	/* Font Weights */
	--fw-lighter: 300;
	--fw-normal: 400;
	--fw-bold: 700;
	--fw-bolder: 800;

	/* Letter Spacing */
	--ls-default: 0.005em;
	--ls-small: 0.015em;
	--ls-medium: 0.033em;
	--ls-large: 0.05em;

	/* Fonts */
	--font-body: var(--fw-normal) var(--fs-base) / var(--lh-base) var(--ff-serif);

	/* Line Height */
	--lh-small: 1;
	--lh-base: calc(7 / 6); // 1.167
	--lh-medium: calc(4 / 3); // 1.333
	--lh-large: calc(4 / 3); // 1.333
	--lh-xlarge: calc(5 / 3); // 1.667
}

/* Layout */
:root {
	/* Spacing */
	--space-medium: 1rem;

	/* Sizes */
	--s-logo: 24rem;

	/* Borders */
	--border-default: 2px solid var(--color-green);

	/* Shadows */
	--shadow-default: 0 0 8px rgba(0, 0, 0, 0.25);

	/* Widths */
	--w-content-max: 64rem;

	/* Viewport Width */
	--viewport-width: 100vw; // Checks for scrollbar via setViewportWidth() JS.
}

/* Customizations */
:root {
	/* Transitions */
	--ts-default: 225ms;

	/* Etc. */
	--box-style: var(--border-default);
}
